@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

.dropdowninput-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 250px;
}

.dropdowninput-label {
  font-family: 'Lexend', Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  color: var(--input-label-color, #0B405B);
}

.dropdowninput-field-group {
  display: flex;
  width: 272px;
  height: 30px;
  border: 0.5px solid var(--input-border-color, #000);
  border-radius: 2px;
  background: #fff;
  overflow: hidden;
  align-items: center;
}

.dropdowninput-select {
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
  color: var(--input-text-color, #222);
  font-size: 8.5px;
  font-family: 'Lexend', Arial, sans-serif;
  font-weight: 300;
  outline: none;
  padding-left: 8px;
  border-radius: 6px;
  appearance: none;
  cursor: pointer;
}

.dropdowninput-arrow {
  margin-left: -28px;
  pointer-events: none;
  color: var(--color-text-muted);
}

.dropdowninput-field-group:focus-within {
  border-color: var(--color-primary);
}

.dropdowninput-wrapper.disabled .dropdowninput-field-group {
  background: #444;
  color: #aaa;
  border-color: #666;
}

.dropdowninput-wrapper.error .dropdowninput-label,
.dropdowninput-wrapper.error .dropdowninput-field-group {
  color: var(--color-error);
  border-color: var(--color-error);
}

.dropdowninput-error {
  color: var(--color-error, #e53935);
  font-size: 0.6rem;
  text-align: left;
  font-family: 'Lexend', Arial, sans-serif;
  font-weight: 300;
}

body[data-theme='dark'] .dropdowninput-field-group {
  border-color: #fff;
  background: #fff;
}
body[data-theme='dark'] .dropdowninput-label {
  color: #A8FD24;
}
body[data-theme='dark'] .dropdowninput-select {
  background: #fff;
  color: #fff;
}

.textinput-input-short {
  width: 400px;
  height: 20px;
}

.textinput-input-long {
  width: 900px;
  height: 20px;
} 