@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

.searchinput-wrapper {
  display: flex;
  width: 272px;
  height: 30px;
  border: 0.5px solid var(--input-border-color, #000);
  border-radius: 2px;
  background: #fff;
  overflow: hidden;
  align-items: center;
}

.searchinput-input {
  flex: 1;
  height: 100%;
  border: none;
  background: #fff;
  color: var(--input-text-color, #222);
  font-size: 8.5px;
  font-family: 'Lexend', Arial, sans-serif;
  font-weight: 300;
  outline: none;
  padding-left: 8px;
  border-radius: 6px 0 0 6px;
}

.searchinput-input::placeholder {
  color: var(--input-placeholder-color, #676767);
  font-family: 'Lexend', Arial, sans-serif;
  font-weight: 300;
  font-size: 8.5px;
}

.searchinput-btn {
  height: 100%;
  border: none;
  background: #fff;
  color: var(--input-text-color, #222);
  border-radius: 0 6px 6px 0;
  padding: 0 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchinput-error {
  color: var(--color-error, #e53935);
  font-size: 0.6rem;
  text-align: left;
  font-family: 'Lexend', Arial, sans-serif;
  font-weight: 300;
}

body[data-theme='dark'] .searchinput-wrapper {
  border-color: #fff;
  background: #fff;
}
body[data-theme='dark'] .searchinput-input {
  background: #fff;
  color: #fff;
}
body[data-theme='dark'] .searchinput-input::placeholder {
  color: #fff;
  font-size: 8.5px;
} 